<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Blender Web Pro">
    <title>Blender Web Pro</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <header>
        <h1>Blender Web Pro</h1>
    </header>

    <main>
        <h2>Welcome to Blender Web Pro Test Page</h2>
        <p>You have successfully tested opening a web page with Blender Web Pro. </p>
        <p>For more information, visit <a href="https://blendermarket.com/creators/harrymckenzie">Blender Web Pro</a>.</p>
    </main>

    <footer>
        <p>&copy; 2024 Blender Web Pro</p>
    </footer>
    <script type="module" src="/main.js"></script>
</body>
</html>
